body{
    background-image: url('pexels-karolina-grabowska-4046758.jpg');
    background-size: cover;
    padding-left: 10px;
    font-family: 'Varela Round', sans-serif;
    width: auto;
    height: auto;
    margin-right: 4%;
    background-image: url('white-painted-wall-texture-background.jpg');
    /* background: linear-gradient(to bottom, #ff0000 0%, #ff3300 100%); */
    background-size: contain 100%;
    background-repeat: no-repeat;
    font-family: 'Varela Round', sans-serif;
    
}
/* side navigation bar end */
.nav-bar{
    position: relative;
    width: fit-content;
    /* border: 1px solid black; */
}
.closebtn{
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(0, 0, 0));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #00d5ff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 1px;}
    .sidenav a {font-size: 18px;}
  }

  
  /* side navigation bar end */


  .tittle{
    text-shadow: none;
    right: 0;
    left: 0;
    font-size: 16px;
    position: relative;
    color: black;
    
}
.channel{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 110, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    width: auto;
    height: 80px;
    border-radius: 10px;
    text-shadow: 5px 1px 4px rgba(0, 0, 0, 0.934);
    letter-spacing: 2px;
}
.config{ 
    text-shadow: none;
    text-align: center;
    height: auto;
    width: auto;
    color: #0a0a0a;
}
.camera{
    /* text-shadow: 2px 0px 2px rgba(255, 0, 0, 0.934); */
    text-align: center;
    height: auto;
    width: auto; 
    color: #000000;
}
.config-link{
    text-decoration: wavy;
    text-decoration-line: underline;
    color: rgb(0, 72, 255);
    /* text-shadow: 2px 1px 2px rgba(15, 15, 15, 0.934); */
    
}

.hr{
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 144px;
}
.video{
    border: 2px solid black;
    border-radius: 10px;
}
.config-name{
    font-size: auto;
    color: #000000;
    text-shadow: none;
}
.tr{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 132, 255), rgb(255, 255, 255));
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
#trans{
    display: flex;
    justify-content: center;
}
.translate{
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tr1{
    color: white;
    font-weight: 700;
    /* width: auto; */
    background: linear-gradient(to top right, #00b7ff 0%, #0051ff 100%);
    width: 200px;
    text-align: center;
    box-shadow: 8px 5px 20px rgb(0, 0, 0);
}
.tr2{
    color: rgb(255, 255, 255);
    /* font-weight: 700; */
    text-shadow: 5px 1px 4px rgba(0, 0, 0, 0.934);
}
.copy{
    margin-top: 10%;
    border:2px solid #090909;
    width: auto;
    background: linear-gradient(to top right, #3399ff 0%, #003399 100%);
    border-radius: 10px 10px 0 0;
}
.color{
    text-shadow: 5px 1px 4px rgba(0, 0, 0, 0.934);
}
.social-link{
    background: linear-gradient(to bottom, #6cd5f8 0%, #052fff 100%);
    height: auto;
    border-left: 2px solid rgb(0, 123, 255);
    border-bottom: 2px solid rgb(0, 106, 255);
    border-radius: 10px;
    box-shadow: 7px 6px 20px 5px rgb(0, 0, 0);
    margin: 0 10px;
    background-image: url('HTYRLxskBEhiR2ZIY1t3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    background-position: bottom;
}
.button{
    color: rgb(255, 255, 255);
}
.bangla{
    margin-top: 20px;
    color: #ffea00;
}
.ending{
    font-size: 16px;
    margin: 0 14px;
    margin-bottom: 30px;
}